.landing{
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("mast-bg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
li{
    margin-right: 20px;
}
li:hover{
    opacity: 0.6;
}